<configuration>

    <appender name="COLORED_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %highlight(%-5level) - %cyan(%logger{36}) - %msg%n%throwable
            </pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Roulez les journaux tous les jours -->
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %-5level - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="COLORED_CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="fr.univrouen.cv24v1" level="debug" additivity="false">
        <appender-ref ref="COLORED_CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>

</configuration>
