/* Styles for the body and headings */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
}

/* Styles for tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Styles for ordered lists */
ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Styles for unordered lists */
ul {
    padding-left: 20px;
}

li.alt-color {
    background-color: #f9f9f9;
}

/* Styles for links */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navbar styles */
.navbar-custom {
    background-color: #e0e0e0; /* Light gray color */
}

.container-custom {
    background-color: #ffffff; /* White color */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
